body {
   background-image: linear-gradient(
    to right, /* or 'to bottom' for horizontal stripes, or an angle like 45deg */
    #000000 0%, /* Red starts at 0% */
    #ce2eff 25%, /* Red ends at 25% */
    #f85012 35%, /* Blue starts at 25% */
    #46d62d 50%, /* Blue ends at 50% */
    #f324ab 60%, /* Green starts at 50% */
    #126eb9 75%, /* Green ends at 75% */
    #B121B6 85%, /* Yellow starts at 75% */
    #000000 100% /* Yellow ends at 100% */
  );
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
  border-bottom-style: dashed;
  border-top-style: dashed;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 20px double rgb(0, 0, 0);
}

h2{
  color: rgb(255, 111, 28);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}